.contact {
    height: 840px;
    background-image: url('../../../images/PICTURE-min.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.contact__title {
    position: relative;
    margin-bottom: 0;
    font-family: 'Sail';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 1;
    letter-spacing: -0.075em;
    text-align: center;

    color: $titleColor;

    z-index: 99;

    &::before {
        content: '';
        position: absolute;
        top: 30px;
        left: 0;
        display: block;
        width: 100%;
        height: 350px;
        background-color: rgba(240, 240, 240, 0.5);
        z-index: -1;
    }
}

.contact__subtitle {
    position: relative;
    margin-top: 0;
    margin-left: 105px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: -0.03em;

    color: $titleColor;

    z-index: 99;
}

.contact__text {
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.105em;

    z-index: 99;
}

.contact__hidden {
    display: none;
}

.contact__list {
    padding: 15px 0 15px 60px;
}

.contact__item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;

    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

.contact__link {
    position: relative;
    z-index: 99;
    display: inline-flex;
    align-items: center;
    color: $titleColor;

    &--icon {
        fill: $titleColor;
        margin-right: 20px;
    }
}

.form__contact {
    margin-top: 30px;
    text-align: center;

    & input {
        width: 60%;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
    }

    & textarea {
        width: 60%;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
    }

    & select {
        width: 60%;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
    }
}

.form__button {
    display: block;
    margin-left: 60px;
    margin-top: 10px;
    width: 100px;
    height: 20px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: -0.055em;

    border: none;
    border-radius: 5px;

    color: #ffffff;
    background-color: $accentColor;
}
