.packages__header__img {
    height: 250px;
    background-image: url('../../../images/Rectangle\ 70-min.jpg');
    background-size: 100% 100%;

    @media screen and (min-width: $tablet) {
        height: 520px;
    }

    @media screen and (min-width: $desktop) {
        width: 100vw;
        height: 470px;
        background-image: url('../../../images/MAIN_PIC-min.jpg');
        background-size: cover;
        // background-repeat: no-repeat;
    }
}

.packages__header__title {
    display: none;

    @media screen and (min-width: $tablet) and (max-width: 1439px) {
        display: inline-block;
        margin-top: 380px;
        margin-bottom: -10px;
        margin-left: 240px;
        font-family: 'Sail';
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 1;

        color: #ffffff;
    }
}

.packages__header__subtitle {
    display: none;

    @media screen and (min-width: $tablet) and (max-width: 1439px) {
        display: block;
        margin-top: 0;
        text-align: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.4;

        color: $accentColor;
    }
}

.packages__mobile-button {
    display: inline-block;
    // margin-left: auto;
    padding: 10px;
    background-color: transparent;
    border: none;
    margin-left: 270px;

    @media screen and (min-width: $tablet) {
        margin-left: 650px;
    }

    @media screen and (min-width: $desktop) {
        display: none;
    }
}

.package__title {
    margin-bottom: 0;
    font-family: 'Sail';
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 1;
    letter-spacing: -0.04em;

    color: $titleColor;

    @media screen and (min-width: $tablet) and (max-width: 1439px) {
        display: none;
    }

    @media screen and (min-width: $desktop) {
        font-size: 170px;
        text-align: center;
    }
}

.package__subtitle {
    margin-top: -8px;
    margin-left: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;

    color: $accentColor;

    @media screen and (min-width: $tablet) and (max-width: 1439px) {
        display: none;
    }

    @media screen and (min-width: $desktop) {
        font-size: 41px;
        margin-left: 500px;
    }
}

.package__head-text {
    width: 70%;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.3;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 65px;

    @media screen and (min-width: $tablet) {
        margin-top: 50px;
        width: 80%;
        font-size: 26px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 33px;
        width: 75%;
    }
}

.package__item {
    @media screen and (max-width: 1439px) {
        display: none;
    }

    @media screen and (min-width: $desktop) {
        flex-basis: calc((100% - 3 * 30px) / 4);
    }
}

.package__item--mobile {
    display: block;

    @media screen and (min-width: $tablet) and (max-width: 1439px) {
        display: none;
    }
}

.package__item__tablet {
    @media screen and (min-width: $tablet) {
        display: block;

        &:not(:last-child) {
            margin-right: 40px;
        }
    }
}

.package__list {
    display: flex;
    justify-content: center;

    @media screen and (min-width: $desktop) {
        margin-bottom: 60px;
    }
}

.package__item__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: -0.05em;

    color: $titleColor;

    @media screen and (max-width: 767px) {
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: $accentColor;
        }
    }

    @media screen and (min-width: $tablet) {
        font-family: 'Libre Baskerville';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 1.1;
    }
}

.package__item__subtitle--accent {
    color: $accentColor;
}

.package__item__collection {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;

    color: $titleColor;

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    @media screen and (min-width: $tablet) {
        font-size: 22px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 19px;
    }
}

.package__item__price--old {
    position: relative;
    font-family: 'Sail';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 1;
    text-align: center;

    color: $oldPriceColor;

    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 35%;
        left: 20%;
        width: 60%;
        height: 2px;
        background-color: $accentColor;
        transform: rotate(-10deg);
    }

    @media screen and (min-width: $tablet) {
        font-size: 40px;
    }
}

.package__item__price--new {
    margin-top: 0;
    font-family: 'Sail';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 1;
    letter-spacing: -0.025em;
    text-align: center;

    color: $accentColor;

    @media screen and (min-width: $tablet) {
        font-size: 60px;
    }
}

.package__item__price--clarification {
    color: $oldPriceColor;
}

.clarification {
    position: relative;
    margin-bottom: 58px;

    &::before {
        content: '*';
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: -5%;
        left: -5%;
        background-color: #fff;
        color: $oldPriceColor;
        padding: 10px;
        font-family: 'Sail';
        font-size: 40px;
        line-height: 1;

        @media screen and (min-width: $tablet) {
            font-size: 60px;
            top: -30%;
            left: -10%;
            padding: 60px;
        }
    }

    &__call {
        position: absolute;
        top: 30px;
        left: 10px;
        margin: 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 1.3;
        letter-spacing: -0.015em;

        color: $accentColor;

        @media screen and (min-width: $tablet) {
            top: 60px;
            left: 20px;
            font-size: 33px;
            letter-spacing: 0.04em;
        }
    }

    &__text {
        display: inline-block;
        padding: 50px 10px 20px 10px;
        border: 1px solid $oldPriceColor;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 1.1;
        letter-spacing: -0.07em;
        text-align: left;

        color: $titleColor;

        @media screen and (min-width: $tablet) {
            padding: 100px 80px 40px 20px;
            border: 2px solid $oldPriceColor;
            font-size: 17px;
        }
    }
}

.package__costomize-text {
    margin-bottom: 49px;
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.1;
    text-align: center;

    @media screen and (min-width: $tablet) {
        width: 70%;
        font-size: 24px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.package__costomize-button {
    margin-left: auto;
    margin-right: auto;
    width: 246px;
    height: 47px;
    text-align: center;
    background-color: $accentColor;
    border-radius: 5px;
    border-color: transparent;
    color: #ffffff;
    box-shadow: (-10px 0px 16px rgba(0, 0, 0, 0.2));

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.5;

    &:not(:last-child) {
        margin-bottom: 38px;

        @media screen and (min-width: $tablet) {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: $tablet) {
        width: 300px;
        height: 60px;
        font-size: 35px;
    }
}

.package__costomize__button-box {
    text-align: center;

    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
    }
}

.package__item:nth-child(2) {
    position: relative;

    @media screen and (min-width: $tablet) {
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: -20px;
            width: 3px;
            height: 100%;
            background-color: $accentColor;
        }
    }
}

.package__item:nth-child(1) {
    position: relative;

    @media screen and (min-width: $desktop) {
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: -20px;
            width: 3px;
            height: 100%;
            background-color: $accentColor;
            margin-right: 15px;
        }
    }
}

.package__item:nth-child(3) {
    position: relative;

    @media screen and (min-width: $desktop) {
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: -20px;
            width: 3px;
            height: 100%;
            background-color: $accentColor;
        }
    }
}

.package__item:nth-child(3) .package__item__subtitle {
    position: relative;

    &::before {
        content: 'Bestseller';
        position: absolute;
        top: -80%;
        left: 34%;
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: -0.015em;

        color: $accentColor;
    }
}

.package__alacart__title {
    position: relative;
    margin-bottom: 0;
    font-family: 'Sail';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 1;
    letter-spacing: -0.04em;

    color: $titleColor;

    &::before {
        content: ',';
        position: absolute;
        top: -50%;
        left: 15%;
        transform: rotate(-90deg);
        color: $accentColor;

        @media screen and (min-width: $tablet) {
            left: 32%;
        }
    }

    @media screen and (min-width: $tablet) {
        text-align: center;
        font-size: 80px;
    }
}

.package__alacart__subtitle {
    margin-top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-align: center;

    color: $accentColor;

    @media screen and (min-width: $tablet) {
        margin-top: 10px;
    }
}

.alacart__text {
    display: none;
}

.alacart__list {
    padding-bottom: 40px;
}

.alacart__box {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: $accentColor;
    }
}

.alacart__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

.alacart__title {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: -0.08em;

    color: $titleColor;

    @media screen and (min-width: $tablet) {
        font-size: 28px;
    }
}

.alacart__subtitle {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 1;

    color: $titleColor;

    @media screen and (min-width: $tablet) {
        font-size: 22px;
    }
}

.alacart__price {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 1.1;

    color: $titleColor;

    @media screen and (min-width: $tablet) {
        font-size: 35px;
    }
}
