.blog__header__img {
    width: 100vw;
    height: 210px;
    background-image: url('../../../images/Rectangle\ 101-min.jpg');
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (min-width: $tablet) {
        height: 445px;
    }
}

.blog__header__title {
    display: none;
    @media screen and (min-width: $tablet) and (max-width: 1439px) {
        display: inline-block;
        margin-top: 330px;
        margin-left: 80px;
        font-family: 'Sail';
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 1;

        color: #ffffff;
    }
}

.blog__img {
    display: none;

    @media screen and (min-width: $tablet) {
        display: block;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 40px;
    }
}

.blog__text--desktop {
    display: none;
}

.blog__title {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Sail';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -0.075em;
    text-align: center;

    color: $titleColor;

    @media screen and (min-width: $tablet) and (max-width: 1439px) {
        display: none;
    }
}

.blog__text--mobile {
    margin-top: 0;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.025em;

    color: $titleColor;

    @media screen and (min-width: $tablet) {
        padding: 0 100px;
        margin: 60px 0 0;
        font-size: 22px;
        line-height: 1.6;
    }
}

.blog__text--call {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.025em;

    @media screen and (min-width: $tablet) {
        font-size: 22px;
    }
}

.blog__nav {
    display: none;

    @media screen and (min-width: $tablet) {
        display: block;
    }
}

.blog__navigation {
    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-evenly;
        width: 100vw;
        padding: 20px 55px;
        margin-left: -9%;
        margin-bottom: 50px;
        background-color: $footerBgc;
    }
}

.blog__sublink {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;

    & a {
        color: #000000;

        &:hover,
        &:focus {
            color: $accentColor;
        }
    }
}

.blog__list-header {
    display: none;
}

.blog__list {
    @media screen and (min-width: $desktop) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 3000px;
    }
}

.blog__subtitle {
    margin-bottom: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 1.1;

    color: $titleColor;

    @media screen and (min-width: $tablet) {
        margin-bottom: 20px;
        font-size: 22px;
    }
}

small {
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.025em;

    @media screen and (min-width: $tablet) {
        font-size: 24px;
    }
}

.blog__text {
    margin-top: 20px;
    margin-bottom: 0;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.025em;

    @media screen and (min-width: $tablet) {
        margin-bottom: 25px;
        font-size: 22px;
    }
}

.blog__button {
    position: relative;
    margin-top: 10px;
    padding-left: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.4;

    color: $accentColor;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 2px;
        height: 100%;
        background-color: $accentColor;
    }

    @media screen and (min-width: $tablet) {
        font-size: 20px;
    }
}

.blog__item {
    position: relative;
    // padding-top: 20px;
    padding-bottom: 20px;

    &:first-child::before {
        @media screen and (min-width: $tablet) {
            display: none;
        }
    }

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: $accentColor;
    }

    @media screen and (min-width: $tablet) {
        margin-bottom: 50px;
    }

    @media screen and (min-width: $desktop) {
        // flex-basis: calc((100% - 50px) / 2);
        width: 45%;
    }
}

.blog__load-button {
    display: block;
    margin: 50px auto;
    width: 125px;
    height: 25px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: -0.055em;
    border-radius: 5px;
    border: none;

    color: #ffffff;
    background-color: $accentColor;
}
