.hero__title {
  text-align: center;
  font-family: 'Sail';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -0.075em;
  color: $titleColor;
}

.hero__subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.hero__text {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.105em;
}

.hero__list {
    display: none;
}

.hero__submenu:hover ~.hero__list {
    display: block;
}

.hero__hidden-text {
    display: none;
}
