.pack {
    display: block;
    height: 630px;
    background-image: url('../../../images/Rectangle\ 12-min.jpg');
    background-size: auto 500px;
    background-position: left top;
    background-repeat: no-repeat;
}

// .pack__title {
//     margin-top: 430px;
// }
