.testimonials {
    @media screen and (min-width: $tablet) {
        background-image: url('../../../images/Union.svg'),
            url('../../../images/Vector.svg');
        background-repeat: no-repeat;
        background-size: 135px auto;
        background-position: 550px 220px, 50px 500px;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        flex-direction: row-reverse;
        padding: 100px 40px;
        background-size: 200px auto;
        background-position: 1000px 0px, 70px 350px;
    }
}

.testimonials__title {
    margin-top: 46px;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.2;

    @media screen and (min-width: $tablet) {
        font-size: 35px;
    }

    @media screen and (min-width: $desktop) {
        margin-top: 22px;
        font-size: 25px;
    }
}

.testiomonials__span {
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    text-transform: lowercase;

    @media screen and (min-width: $tablet) {
        font-size: 25px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 22px;
    }
}

.testimonials__box {
    position: relative;

    &::before {
        content: ' ';
        display: block;
        width: 100%;
        height: 2px;
        background-color: $accentColor;

        @media screen and (min-width: $desktop) {
            display: none;
        }
    }

    @media screen and (max-width: 767px) {
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            top: 18%;
            left: 10%;
            display: block;
            width: 80%;
            height: 90%;
            background-color: $bgc;
        }
    }

    @media screen and (min-width: $desktop) {
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            top: 8%;
            left: 10%;
            display: block;
            width: 80%;
            height: 80%;
            background-color: $bgc;
        }
    }
}

.testimonials__text {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 0;
    margin-bottom: 59px;
    text-align: center;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.025em;

    @media screen and (min-width: $tablet) {
        font-size: 14px;
    }
}

.testimonials__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 47px;
    width: 128px;
    height: 25px;
    text-align: center;
    background-color: $accentColor;
    border-radius: 5px;
    border-color: transparent;
    color: #ffffff;
    box-shadow: (-10px 0px 16px rgba(0, 0, 0, 0.2));

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.testimonials__story-block {
    display: none;

    @media screen and (min-width: $desktop) {
        display: block;
        padding: 0 20px;
    }
}

.testimonials__story-block--test {
    @media screen and (min-width: $tablet) {
        display: block;
    }
}

.testimonials__subtitle {
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.1;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $accentColor;

    &__addition {
        margin-top: 0;
        margin-bottom: 34px;
        text-align: center;
        font-family: 'Libre Baskerville';
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        line-height: 1;

        letter-spacing: 0.06em;

        @media screen and (min-width: $desktop) {
            font-size: 16px;
        }
    }

    @media screen and (min-width: $desktop) {
        font-size: 20px;
    }
}

.testimonials__story {
    padding: 0 160px 90px;
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;

    letter-spacing: 0.06em;

    @media screen and (min-width: $desktop) {
        padding: 0 25px;
        font-size: 15px;
    }
}
