.testimonials__title {
    margin-top: 46px;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.2;
}

.testiomonials__span {
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    text-transform: lowercase;
}

.testimonials__box {

    &::before {
        content: ' ';
        display: block;
        width: 100%;
        height: 2px;
        background-color: $accentColor;
    }
}

.testimonials__text {
    margin-top: 0;
    margin-bottom: 59px;
    text-align: center;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.025em;
}

.testimonials__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 128px;
    height: 25px;
    text-align: center;
    background-color: $accentColor;
    border-radius: 5px;
    border-color: transparent;
    color: #ffffff;
    box-shadow :(-10px 0px 16px rgba(0, 0, 0, 0.2));
}
